<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-img class="toplogo" slot="end" src="assets/bonecos.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding horizontal">
<img src="assets/Eu.jpg">

  <p>Eu sou uma pessoa que amo informática, me dedico cada dia para que o meu futuro seja como eu quero: "Com muita dedicação e esforço, porque nada na vida é fácil, basta queremos". Uma dica que eu deixo pra vocês: Se esforce naquilo que você gosta, aguarre firme e corra para aquilo que você almeja e o faça acontecer!</p>

  <p>Eu sou Leandro, aluno do Senac. Este é o meu projeto WEB!</p>
  
</ion-content>

<img class="ion-padding horizontal" src="assets/Volte-sempre.gif">

